.login-container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #ffe645 0%, #e2aa02 100%);
    position: relative;
    .logo {
      font-size: 40px;
      font-weight: bold;
      font-family: 'Creepster', cursive;
      letter-spacing: 10px;
      position: absolute;
      top: 20px;
      right: 50px;
    }
    .desc {
      font-size: 17px;
      font-family: 'Aladin', cursive;
      letter-spacing: 5px;
      position: absolute;
      top: 100px;
      right: 50px;
      text-align: right;
      width: 700px;
    }

    .flim{
        position: absolute;
        top: 50px;
        left: 50px;
        width: 372px;
    }

    .login-form{
        width: 400px;
        height: 270px;
        padding: 20px;
        background-color: #FFF;
        border-radius: 10px;
        position: absolute;
        bottom: 50px;
        right: 50px;
        box-shadow: 5px 5px 20px #383838;
        .form-group{
            margin-top:20px;
        }
        label{
            font-weight:bold;
        }
        .btn-container{
            .btn{
                margin-top: 40px;
            }

            .error{
                position:absolute;
                top: 190px;
                right: 5px;
                color: red;
            }
        }
    }

}